/* * {
    outline: 1px dotted red;
} */
#container {
    width: 600px;
    margin: 0px auto;
}
h1 {
    text-align: center;
}
table {
    border-collapse: collapse;
}
table, th, td {
    width: 500px;
    border: 1px solid black;
    margin: 0px auto;
}