<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{name}}</title>
    {% load static %}
    <!-- The line above tells Django to be ready to listen for static files -->
    <link rel='stylesheet' href='{% static 'amadon/css/styles.css' %}' media='screen' title='no title'  charset='utf-8'>
    <!-- Put the static files in the static folder inside your app. -->
    <!-- Django collects files within all static folders and puts them within a single folder --> 
</head>
<body>
    <div id="container">
        <h1>{{name}} store!</h1>
        <table class="tableOne">
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td>Dojo T-shirt</td>
                <td>$19.99</td>
                <td>
                    <form action="/buy" method="post">
                        {% csrf_token %}
                        <select name="qty" id="qty">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <input type='hidden' name='price' value='19.99'>
                        <input type='hidden' name='product_id' value='101'>
                        <input type="submit" value="Buy">
                    </form>
                </td>
            </tr>
            <tr>
                <td>Dojo Sweater</td>
                <td>$29.99</td>
                <td>
                    <form action="/buy" method="post">
                        {% csrf_token %}
                        <select name="qty" id="qty">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <input type='hidden' name='price' value='29.99'>
                        <input type='hidden' name='product_id' value='102'>
                        <input type="submit" value="Buy">
                    </form>
                </td>
            </tr>
            <tr>
                <td>Dojo Cup</td>
                <td>$4.99</td>
                <td>
                    <form action="/buy" method="post">
                        {% csrf_token %}
                        <select name="qty" id="qty">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <input type='hidden' name='price' value='4.99'>
                        <input type='hidden' name='product_id' value='103'>
                        <input type="submit" value="Buy">
                    </form>
                </td>
                </tr>
                <tr>
                    <td>Dojo Algorithm Book</td>
                    <td>$49.99</td>
                    <td>
                        <form action="/buy" method="post">
                            {% csrf_token %}
                            <select name="qty" id="qty">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                            <input type='hidden' name='price' value='49.99'>
                            <input type='hidden' name='product_id' value='104'>
                            <input type="submit" value="Buy">
                        </form>
                    </td>
                </tr>
        </table>
    </div>
</body>
</html>
